@import "tailwindcss";

/* globals.css */
.bg-hero {
  background-image: url('/2.jpg');
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: Dark Cyan; /* fallback if image fails */
}
